body
{
	background-color: #373128;
	font-family: 'Sawarabi Gothic', sans-serif;
	color:white;
}

#container
{
	margin-left:auto;
	margin-right:auto;
	width: 1300px;
}

#topp
{
	height: 65px;
	width: 1280px;
	background-color: #444490;
	margin-top: 20px;
	font-size: 38px;	
	padding: 10px;	
	padding-bottom: 0;
	position: sticky;
	top: 20px;
	z-index: 100;
}

#logo
{
	text-align: right;
	float:left;		
	width: 850px;
	padding-right: 120px;

}

#sciesnij
{
	float:left;
	font-size: 12px;
	padding-top: 6px;
}
#sciesnij1
{
	padding-bottom: 5px;
}

#sciesnij2
{
	padding-bottom: 5px;
}

#menu
{
	margin-top: 10px;
	background-color: #000000;
	text-align: center;
	height: 70px;
	position: sticky;
	top: 105px;
}

#menu > ul 
{
	font-size: 20px;
	display: inline-block;
	list-style-type: none;
}

ul
{
	list-style-type: none;
}

#menu > ul > li
{
	float:left;
	width: 180px;
	border-right: 1px solid red;
	height: 35px;
}

#menu > ul > li:first-child
{
	border-left: 1px solid red;
}

#menu > ul > li > ul 
{
	display: none;
	padding: 0;
	margin-top: 5px;
}

#menu > ul > li:hover > ul
{
	display: block;
}

#menu > ul > li > ul > li
{
	background-color: #000000;
	border-top: 1px solid red;
	position: relative;
}

#topbar
{
	clear:both;
	margin-top: 10px;
	background-color:#A93456;
	height:130px;
	padding: 10px;
}

#topbarL
{
	float:left;
	width: 170px;
	border-right: 1px solid black;
	padding: 10px;
	text-align: center;
}

a.link
{
	color: #ffffff;
	text-decoration: none;
	display: block;
}

a.filmslink
{
	color: white;
	text-decoration: none;
	display: block;
}

a.link:hover
{
	color: blue;
}

a.filmslink:hover
{
	background-color: #123468;
	text-decoration: none;
}

.films
{
	text-align:center;
}

#topbarR
{
	float:left;
	text-align:justify;
	width: 1058px;
	padding: 10px;
}

#barr
{
	background-color: red;
	height: 520px;
	clear:both;
	margin-top: 15px;	
	padding: 10px;
}

#sidebar
{
   float:left;
   width: 170px;
   padding: 10px;
}

#content
{
    float:left;
    text-align:center;
	width: 1050px;
	padding: 10px;
	border-left: 1px solid black;
}

#footer
{
   clear:both;
   text-align:center;
}	

#foot
{
   float:left;
   text-align:right;
   width: 900px;
}	

#timer
{
	float:left;
	text-align: right;
	font-size: 12;  
	width: 400px;
}

#scrollex
{
	position: fixed;
	right: 30px;
	bottom: 20px;
	cursor: pointer;
	display: none;
}